.history-accordion {
    width: 250px;
    height: 90%;
    margin-bottom: 15px;
}

.bg-color {
    background-color: #292E3F;
}

.title {
    margin: 25px;
}

.color-gray {
    background-color: #404869;
}

.color-dark-gray {
    background-color: #191c27;
}

.hr-margin {
    margin-bottom: 15px;
}

.button-box {
    height: 100%;
    overflow-y: auto;
    margin: auto 25px;
}

.button {
    display: block;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}